In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import sys
from tqdm import tqdm
pd.set_option('mode.chained_assignment', None)
from typing import List

In [3]:
parent_dir = os.path.abspath(os.path.join(os.getcwd(), '../'))
subdir = 'utils/'
path = os.path.join(parent_dir, subdir)
sys.path.append(path)
from decision_tree import AllSplits

In [4]:
# Train data
train_df = pd.read_csv('https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv')

# Test data
test_df = pd.read_csv('https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/test.csv')

In [5]:
train_df = train_df.fillna(0)

In [6]:
# Seed for reproducibility
np.random.seed(42)

# Number of samples
n = 500

# Generate features with random choice between 1 and 2
features = {}
for i in range(1, 5):
    features[f"Feature{i}"] = np.random.choice([1, 2], n)

# Generate target with random choice between 'A' and 'B'
target = np.random.choice(['A', 'B'], n)

# Create DataFrame
data = pd.DataFrame(features)
data['target'] = target

In [7]:
data

     Feature1  Feature2  Feature3  Feature4 target
0           1         1         2         1      A
1           2         1         1         2      B
2           1         1         1         2      B
3           1         2         1         1      B
4           1         1         1         1      B
..        ...       ...       ...       ...    ...
495         1         1         1         1      B
496         1         1         2         2      B
497         2         2         2         1      B
498         1         2         1         1      A
499         2         1         1         1      B

[500 rows x 5 columns]

In [16]:
# Initialize the BestSplitFinder class
tree = AllSplits(data, 'target', depth = 10)
splits, col_val = tree.get_tree_splits()
splits, col_val

({UUID('115547b1-953f-40c6-aac0-7144e634975b'): <decision_tree.Node at 0x7f9177d310d0>,
  UUID('ace9462b-21c0-4757-955e-093dc2d67894'): <decision_tree.Node at 0x7f9177ea9220>,
  UUID('4abdca14-262e-424f-b280-7cc6970a3a0e'): <decision_tree.Node at 0x7f9177babeb0>,
  UUID('f94f2fb9-2e90-425b-bf93-1361e25ea42d'): <decision_tree.Node at 0x7f9177d0af10>,
  UUID('c5054ce7-41b2-4817-b017-945b4c9c8ed5'): <decision_tree.Node at 0x7f91780030d0>,
  UUID('0f0095ff-4b92-45b9-ae91-2912bcd76612'): <decision_tree.Node at 0x7f91780036d0>},
 {UUID('115547b1-953f-40c6-aac0-7144e634975b'): ('Feature2', 2),
  UUID('ace9462b-21c0-4757-955e-093dc2d67894'): ('Feature3', 1),
  UUID('4abdca14-262e-424f-b280-7cc6970a3a0e'): ('Feature3', 1),
  UUID('f94f2fb9-2e90-425b-bf93-1361e25ea42d'): ('Feature1', 1),
  UUID('c5054ce7-41b2-4817-b017-945b4c9c8ed5'): ('Feature1', 1),
  UUID('0f0095ff-4b92-45b9-ae91-2912bcd76612'): ('Feature1', 1)})